.invite {
  width: 820px;
  padding: 80px 130px;
  background-color: var(--shape-body);
  border-radius: 12px;

  & h2 {
    margin-bottom: 40px;
    color: var(--text-heading);
    font: var(--heading-md);
  }
}

.sobre {
  border: none;
  width: 560px;
  margin-bottom: 48px;

  & .legend {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;

    & legend {
      padding-block: 2px;
      color: var(--text-heading);
      font: var(--heading-sm);
    }

    & .calendar-svg path {
      fill: var(--input-placeholder);
    }
  }
}

.inputs {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  & label {
    display: block;
    color: var(--text-body);
    font: var(--body-sm);
    font-weight: 400;
    margin-bottom: 12px;
  }

  & textarea {
    all: unset;
  }

  & input,
  textarea {
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    padding-block: 13px;
    padding-left: 16px;
    color: var(--input-placeholder);
    font: var(--body-md);
    font-weight: 400;

    &::placeholder {
      color: var(--input-placeholder);
    }
  }

  & textarea {
    height: 136px;
  }
}

.radio-wrapper {
  & label {
    display: block;
    color: var(--text-body);
    font: var(--body-sm);
    font-weight: 400;
    margin-bottom: 12px;
  }
}

.radio-flex {
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  height: 48px;
  background-color: var(--input-base);
  gap: 4px;
}

.radio-input {
  display: flex;
  gap: 8px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-block: 4px;
  transition: all 0.4s;
  /* border: 1px solid red; */

  & .radio,
  & .radio:focus,
  & .radio:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  & svg {
    width: 16px;
    height: 16px;
  }

  & label {
    margin: 0;
    color: var(--text-body);
  }

  &:has(:checked) {
    border-radius: 4px;

    background-color: var(--shape-hover);

    & label {
      color: var(--text-heading);
    }

    & svg path {
      fill: var(--brand-light);
    }
  }

  & .radio:not(:checked) {
    cursor: pointer;
  }
}

.right {
  margin-right: 4px;
}

.left {
  margin-left: 4px;
}
