.invite {
  width: 820px;
  padding: 80px 130px;
  background-color: var(--shape-body);
  border-radius: 12px;

  & h2 {
    margin-bottom: 40px;
    color: var(--text-heading);
    font: var(--heading-md);
  }

  form {
    width: 560px;
  }
}

